.Rproj.user
.Rhistory
.RData
.Ruserdata

R/data
R/markdown/analysis/raw_data
/scripts/erp
/scripts/raw_data
scripts/saved_data/exp23_data.mat
scripts/saved_data/exp23_times.mat
/scripts/saved_data
*.asv
*.db
*.db

submission/
*.docx
