.Rproj.user
.Rhistory
.RData
.Ruserdata

R/data
R/markdown/analysis/raw_data
/scripts/erp
/scripts/raw_data
scripts/saved_data/exp23_data.mat
scripts/saved_data/exp23_times.mat
/scripts/saved_data
*.asv
*.db
*.db

submission/
*.docx
R/markdown/analysis/processed_data/full_data_simulation_linear_revision.Rdata
R/markdown/analysis/processed_data/full_data_simulation_revision.Rdata
